html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.phone {
  width: 25rem;
  height: 50rem;
  background-color: hsl(0, 100%, 100%);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 7px 10px 16px 4px rgba(0, 0, 0, 0.37);
}
@media all and (max-width: 600px) {
  .phone {
    width: 20rem;
    height: 40rem;
    padding: 0.8rem;
  }
}
.phone_screen {
  width: 100%;
  height: 100%;
  background-color: hsl(270, 20%, 96%);
  border-radius: 2rem;
  border: 2px solid rgba(198.237, 201.8784, 204.663, 0.2);
}
.phone_screen_top {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-3rem);
  gap: 1.5rem;
}
@media all and (max-width: 600px) {
  .phone_screen_top {
    transform: translateX(-0.9rem);
    gap: 1rem;
  }
}
.phone_screen_top img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  outline: 2px solid white;
}
@media all and (max-width: 600px) {
  .phone_screen_top img {
    width: 2rem;
    height: 2rem;
  }
}

.viola {
  padding: 3rem 2rem 2rem 2rem;
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 2rem 2rem 0.75rem 0.75rem;
  position: relative;
  z-index: 2;
}
@media all and (max-width: 600px) {
  .viola {
    padding: 2rem 1.2rem 1.2rem 1.2rem;
  }
}
.viola::before {
  content: "";
  height: 3rem;
  width: 12rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 0px 0px 15px 15px;
}
@media all and (max-width: 600px) {
  .viola::before {
    height: 1.8rem;
    width: 10rem;
  }
}

.back,
.dots {
  position: absolute;
  top: 45%;
}
@media all and (max-width: 600px) {
  .back,
  .dots {
    top: 43%;
  }
}

.dots {
  right: 1rem;
}

.back {
  left: 1rem;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.avatar_name {
  font-size: 1.1rem;
  color: hsl(270, 20%, 96%);
}
@media all and (max-width: 600px) {
  .avatar_name {
    font-size: 0.9rem;
  }
}
.avatar_description {
  font-size: 0.8rem;
  color: hsl(276, 100%, 81%);
}
@media all and (max-width: 600px) {
  .avatar_description {
    font-size: 0.7rem;
  }
}

.phone_screen_messages > * {
  margin-bottom: 0.8rem;
}
@media all and (max-width: 600px) {
  .phone_screen_messages > * {
    margin-bottom: 0.6rem;
  }
}

.phone_screen_messages {
  padding: 0.8rem;
}

.rosa-sinistra {
  color: hsl(276, 55%, 52%);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.8rem;
  background-color: rgba(198.237, 201.8784, 204.663, 0.2);
  border-radius: 10px;
  max-width: 60%;
}
@media all and (max-width: 600px) {
  .rosa-sinistra {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
}

.grigio-destra {
  color: hsl(270, 7%, 64%);
  font-weight: 400;
  padding: 0.8rem;
  max-width: 60%;
  border-radius: 10px;
  background-color: white;
  display: block;
  margin-left: auto;
  font-size: 0.8rem;
}
@media all and (max-width: 600px) {
  .grigio-destra {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
}

.grigio-destra.second {
  margin-bottom: 1.5rem;
}
@media all and (max-width: 600px) {
  .grigio-destra.second {
    margin-bottom: 1rem;
  }
}

.immagini {
  display: flex;
  justify-content: right;
  gap: 0.7rem;
  margin-top: 1.5rem;
}
@media all and (max-width: 600px) {
  .immagini {
    margin-top: 1rem;
    gap: 0.5rem;
  }
}
.immagini img {
  max-width: 3.8rem;
  width: 100%;
  height: auto;
  flex: 1 1 3.8rem;
  border-radius: 10px;
}
@media all and (max-width: 600px) {
  .immagini img {
    max-width: 2.8rem;
  }
}

.check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.8rem;
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 10px 10px 10px 5px;
  max-width: 70%;
}
@media all and (max-width: 600px) {
  .check {
    padding: 0.6rem;
  }
}

label::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  background-color: transparent;
  outline: 1px solid white;
  outline-offset: 1.5px;
}

input {
  opacity: 0;
  width: 0;
  margin-right: 1.5rem;
}

input:checked ~ label::before {
  background-color: white;
}

label {
  font-size: 0.7em;
  color: hsl(206, 6%, 79%);
}
@media all and (max-width: 600px) {
  label {
    font-size: 0.6rem;
  }
}

.price {
  margin-left: auto;
  color: white;
}
@media all and (max-width: 600px) {
  .price {
    font-size: 0.8rem;
  }
}

.input-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  background-color: white;
  border-radius: 20px;
  margin-top: 1.2rem;
}
@media all and (max-width: 600px) {
  .input-message {
    padding: 0.6rem 0.6rem 0.4rem 1rem;
    margin-top: 1.4rem;
  }
}
.input-message span {
  color: hsl(206, 6%, 79%);
  font-size: 0.8rem;
}
@media all and (max-width: 600px) {
  .input-message span {
    font-size: 0.6rem;
  }
}
@media all and (max-width: 600px) {
  .input-message span {
    font-size: 0.6rem;
  }
}
.input-message img {
  max-width: 18px;
  max-height: 18px;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5rem;
}

.phone_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
@media all and (max-width: 600px) {
  .phone_text {
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
  }
}
.phone_text .text {
  flex-basis: 38%;
}
@media all and (max-width: 600px) {
  .phone_text .text {
    text-align: center;
    padding: 3rem;
  }
}
.phone_text .text_title {
  font-size: 4rem;
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  margin-bottom: 2rem;
}
@media all and (max-width: 600px) {
  .phone_text .text_title {
    font-size: 3rem;
  }
}
.phone_text .text_paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(270, 7%, 64%);
  line-height: 1.5;
}
@media all and (max-width: 600px) {
  .phone_text .text_paragraph {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

body {
  position: relative;
}

.background-purple {
  width: 30vw;
  height: 87.5vh;
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-left-radius: 188px;
  border-bottom-right-radius: 253px;
  transform: translateX(-5rem);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.background-pink {
  width: 30vw;
  height: 87.5vh;
  background-color: hsl(270, 20%, 96%);
  border-top-left-radius: 301px;
  border-top-right-radius: 0;
  transform: translateX(93px);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
