html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.phone {
  width: clamp(21rem, 80vw, 35rem);
  min-width: 21rem;
  aspect-ratio: 1/2;
  background-color: hsl(0, 100%, 100%);
  padding: 1.4rem;
  border-radius: 2rem;
  box-shadow: 7px 10px 16px 4px rgba(0, 0, 0, 0.37);
}
.phone_screen {
  width: 100%;
  height: 100%;
  background-color: hsl(270, 20%, 96%);
  border-radius: 2rem;
  border: 2px solid rgba(198.237, 201.8784, 204.663, 0.2);
  display: flex;
  flex-direction: column;
}
.phone_screen_messages {
  display: flex;
  flex-direction: column;
  padding: 0 4% 1% 4%;
  align-items: stretch;
  flex-basis: 82%;
  justify-content: space-between;
  container-type: inline-size;
  container-name: messaggi;
}
.phone_screen_messages .rosa-sinistra {
  color: hsl(276, 55%, 52%);
  font-size: 4cqw;
  font-weight: 400;
  padding: 0.8rem;
  background-color: rgba(198.237, 201.8784, 204.663, 0.2);
  border-radius: 10px;
  max-width: 60%;
  line-height: 1.5;
}
.phone_screen_messages .grigio-destra {
  color: hsl(270, 7%, 64%);
  font-weight: 400;
  font-size: 4cqw;
  max-width: 60%;
  border-radius: 10px;
  background-color: white;
  display: block;
  margin-left: auto;
  padding: 0.8rem;
  line-height: 1.5;
}
.phone_screen_messages .check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  font-size: 4cqw;
  padding: 4%;
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 10px 10px 10px 5px;
  max-width: 76%;
}
.phone_screen_messages label::before {
  content: "";
  width: 4.5%;
  height: 26%;
  position: absolute;
  top: 48%;
  left: 1.5rem;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  background-color: transparent;
  outline: 1px solid white;
  outline-offset: 1.5px;
}
.phone_screen_messages input {
  opacity: 0;
  width: 0;
  margin-right: 1.5rem;
}
.phone_screen_messages input:checked ~ label::before {
  background-color: white;
}
.phone_screen_messages label {
  color: hsl(206, 6%, 79%);
  font-size: 4cqw;
}
.phone_screen_messages .price {
  margin-left: auto;
  color: white;
}
.phone_screen_messages .input-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  font-size: 4cqw;
  background-color: white;
  border-radius: 20px;
  padding: 1% 0 1% 3%;
}
.phone_screen_messages .input-message span {
  color: hsl(206, 6%, 79%);
  font-size: 4cqw;
}
.phone_screen_messages .immagini {
  display: flex;
  justify-content: right;
  gap: 0.7rem;
}
.phone_screen_messages .immagini img {
  max-width: 21%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.phone_screen_top {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
  height: 10%;
}
.phone_screen_top .dots,
.phone_screen_top .back {
  width: 1%;
}
.phone_screen_top .dots {
  margin-left: auto;
}

.viola {
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 2rem 2rem 0.75rem 0.75rem;
  position: relative;
  z-index: 2;
  flex-basis: 18%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  container-type: inline-size;
  container-name: viola;
}
.viola::before {
  content: "";
  height: 30%;
  width: 45%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 0px 0px 15px 15px;
}
.viola .avatar_part {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6%;
  transform: translateX(5%);
}
.viola .avatar {
  width: 66%;
  display: flex;
  flex-direction: column;
}
.viola .avatar_name {
  color: hsl(270, 20%, 96%);
  padding-bottom: 0.5%;
  display: inline-block;
}
.viola .avatar_description {
  color: hsl(276, 100%, 81%);
}
.viola .avatar_image {
  border-radius: 50%;
  outline: 2px solid white;
  max-width: 20%;
  width: 100%;
}
.viola main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5rem;
}

.phone_text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  gap: 10%;
}
.phone_text .text {
  flex-basis: 36%;
}
.phone_text .text_title {
  font-size: clamp(3rem, 1.571rem + 2.81vw, 4rem);
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  margin-bottom: 2rem;
}
.phone_text .text_paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(270, 7%, 64%);
  line-height: 1.5;
}

.avanti {
  border-radius: 50%;
  max-width: 15%;
  width: 100%;
}

@container messaggi (min-width: 0px) {
  .rosa-sinistra,
  .grigio-destra,
  .check label,
  .input-message span {
    font-size: 4cqw;
    line-height: 1.4;
  }
}
@container viola (min-width: 0px) {
  .avatar_name {
    font-size: clamp(0.8rem, 6cqw, 2rem);
  }
  .avatar_description {
    font-size: clamp(0.8rem, 4.5cqw, 2rem);
  }
}
@media all and (max-width: 758px) {
  .phone_text {
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }
  .phone {
    min-width: none;
    margin-top: 10%;
  }
  .text {
    padding-left: 10%;
    padding-right: 10%;
  }
}
body {
  position: relative;
}

.background-purple {
  width: 30vw;
  height: 87.5vh;
  background-image: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-left-radius: 188px;
  border-bottom-right-radius: 253px;
  transform: translateX(-5rem);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.background-pink {
  width: 30vw;
  height: 87.5vh;
  background-color: hsl(270, 20%, 96%);
  border-top-left-radius: 301px;
  border-top-right-radius: 0;
  transform: translateX(93px);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
