@use '../base/variables' as *;

body {
  position: relative;
}
.background-purple {
  width: 30vw;
  height: 87.5vh;
  background-image: linear-gradient(
    to left bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-bottom-left-radius: 188px;
  border-bottom-right-radius: 253px;
  transform: translateX(-5rem);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.background-pink {
  width: 30vw;
  height: 87.5vh;
  background-color: $Gray-100;
  border-top-left-radius: 301px;
  border-top-right-radius: 0;
  transform: translateX(93px);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}
