@use '../base/variables' as *;

.phone {
  width: clamp(21rem, 80vw, 35rem);
  min-width: 21rem;
  aspect-ratio: 1/2;
  background-color: hsl(0, 100%, 100%);
  padding: 1.4rem;
  border-radius: 2rem;
  box-shadow: 7px 10px 16px 4px rgba(0, 0, 0, 0.37);

  &_screen {
    width: 100%;
    height: 100%;
    background-color: $Gray-100;
    border-radius: 2rem;
    border: 2px solid rgba($Gray-300, 0.2);
    display: flex;
    flex-direction: column;

    &_messages {
      display: flex;
      flex-direction: column;
      padding: 0 4% 1% 4%;
      align-items: stretch;
      flex-basis: 82%;
      justify-content: space-between;
      container-type: inline-size;
      container-name: messaggi;

      .rosa-sinistra {
        color: hsl(276, 55%, 52%);
        font-size: $fontTelefono;
        font-weight: 400;
        padding: 0.8rem;
        background-color: rgba(198.237, 201.8784, 204.663, 0.2);
        border-radius: 10px;
        max-width: 60%;
        line-height: 1.5;
      }

      .grigio-destra {
        color: hsl(270, 7%, 64%);
        font-weight: 400;
        font-size: $fontTelefono;
        max-width: 60%;
        border-radius: 10px;
        background-color: white;
        display: block;
        margin-left: auto;
        padding: 0.8rem;
        line-height: 1.5;
      }

      .check {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        font-size: $fontTelefono;
        padding: 4%;

        background-image: linear-gradient(
          to left bottom,
          hsl(293, 100%, 63%),
          hsl(264, 100%, 61%)
        );
        border-radius: 10px 10px 10px 5px;
        max-width: 76%;
      }
      label::before {
        content: '';
        width: 4.5%;
        height: 26%;
        position: absolute;
        top: 48%;
        left: 1.5rem;
        transform: translate(-50%, -50%);

        display: block;
        border-radius: 50%;
        background-color: transparent;
        outline: 1px solid white;
        outline-offset: 1.5px;
      }
      input {
        opacity: 0;
        width: 0;
        margin-right: 1.5rem;
      }

      input:checked ~ label::before {
        background-color: white;
      }
      label {
        color: $Gray-300;
        font-size: $fontTelefono;
      }
      .price {
        margin-left: auto;
        color: white;
      }

      .input-message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        font-size: $fontTelefono;
        background-color: white;
        border-radius: 20px;
        padding: 1% 0 1% 3%;

        span {
          color: $Gray-300;
          font-size: $fontTelefono;
        }
      }
      .immagini {
        display: flex;
        justify-content: right;
        gap: 0.7rem;

        img {
          max-width: 21%;
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
    }

    &_top {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 1.5rem;
      height: 10%;

      .dots,
      .back {
        width: 1%;
      }

      .dots {
        margin-left: auto;
      }
    }
  }
}

.viola {
  background-image: linear-gradient(
    to left bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 2rem 2rem 0.75rem 0.75rem;
  position: relative;
  z-index: 2;
  flex-basis: 18%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  container-type: inline-size;
  container-name: viola;

  &::before {
    content: '';
    height: 30%;
    width: 45%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 0px 0px 15px 15px;
  }
  .avatar_part {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6%;
    transform: translateX(5%);
  }
  .avatar {
    width: 66%;
    display: flex;
    flex-direction: column;

    &_name {
      color: $Gray-100;
      padding-bottom: 0.5%;
      display: inline-block;
    }

    &_description {
      color: $Purple-300;
    }
    &_image {
      border-radius: 50%;
      outline: 2px solid white;
      max-width: 20%;
      width: 100%;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5rem;
  }
}

.phone_text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  gap: 10%;

  .text {
    flex-basis: 36%;

    &_title {
      font-size: clamp(3rem, 1.571rem + 2.81vw, 4rem);
      color: $Purple-950;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &_paragraph {
      font-size: 1.6rem;
      font-weight: 400;
      color: $Gray-500;
      line-height: 1.5;
    }
  }
}
.avanti {
  border-radius: 50%;
  max-width: 15%;
  width: 100%;
}
@container messaggi (min-width: 0px) {
  .rosa-sinistra,
  .grigio-destra,
  .check label,
  .input-message span {
    font-size: 4cqw; // evita l'esplosione
    line-height: 1.4;
  }
}

@container viola (min-width: 0px) {
  .avatar {
    &_name {
      font-size: clamp(0.8rem, 6cqw, 2rem);
    }
    &_description {
      font-size: clamp(0.8rem, 4.5cqw, 2rem);
    }
  }
}

@media all and (max-width: 758px) {
  .phone_text {
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }

  .phone {
    min-width: none;
    margin-top: 10%;
  }
  .text {
    padding-left: 10%;
    padding-right: 10%;
  }
}
